@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400&family=Noto+Sans+TC:wght@300&display=swap');

.changes {
    font-size: 14px;
    vertical-align: baseline;
}

date {
    color: #aaa;
    font-size: 85%;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 27px;
}

ul.changes-description {
    margin-inline-start: 16px;
    color: #778;
    font-size: 90%;
}

section {
    color: #ddd;
    font-family: 'Baloo Tamma 2', Torus, "Noto Sans TC", "Microsoft JhengHei", serif !important;
}

.changelog-head a, a.back {
    color: #bcf;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.changelog-head a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.changelog-head a:hover,a.back:hover {
    color: #cdf;
}

.changelog {
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    margin-bottom: 10px;
}

[id^=change]:target {
    background-color: #3d3f4b;
    -webkit-transition: all 0.5s linear;
}

@media print,
screen and (max-width: 720px) {
    #title .credits {
        display: block;
        width: 100%;
        line-height: 30px;
        text-align: center
    }

    #title .credits .left {
        float: none;
        display: block
    }

    #title .credits .right {
        float: none;
        display: block
    }
}

@media print,
screen and (max-width: 480px) {
    #header {
        margin-top: -20px
    }

    section {
        margin-top: 40px
    }

    nav {
        display: none
    }
}