@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400&family=Noto+Sans+TC:wght@300&display=swap');

.changes {
    font-size: 14px;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

date {
    color: #aaa;
    font-size: 85%;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 27px;
}

ul.changes-description {
    line-height: 125%;
    margin-inline-start: 16px;
    margin-block-start: -2px;
    margin-block-end: 5px;
    color: #778;
    font-size: 90%;
}

section {
    color: #ddd;
    font-family: 'Baloo Tamma 2', Torus, "Noto Sans TC", "Microsoft JhengHei", serif !important;
}

.changelog-head a {
    color: #bcf;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.changelog-head a:hover {
    color: #cdf;
}

.changelog {
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 10px;
    margin-bottom: 10px;
}

[id^=change]:target {
    background-color: #3d3f4b;
    transition: 0.5s ease;
}

.highlight {
    background-color: #3d3f4b;
    transition: 0.5s ease;
}

.spotlight {
    color: rgb(201, 189, 32) !important;
}

a.external-link {
    margin: 2px auto;
    padding: 2px 10px 0px 10px;
    background-color: rgba(130,145,245,.6);
    border-radius: 20px;
    color: #efefff;
    text-decoration: none;
}

a.external-link:hover {
    margin: 2px auto;
    padding: 2px 10px 0px 10px;
    background-color: rgba(130,145,245,.3);
    border-radius: 20px;
    color: #cbd7ff;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    section {
      width: 100%;
    }
    ul {
        padding-inline-start: 0px;
    }
    ul.changes-description {
        line-height: 125%;
        margin-inline-start: 42px;
        margin-block-start: -2px;
        margin-block-end: 5px;
        color: #778;
        font-size: 90%;
    }
  }